@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.navber-content {
  background-color: #fffbf3;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
  height: 80px;
}
.navber-content .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navber-content .container .navber-brand {
  color: #f95c19;
  font-family: Oxanium;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
  text-align: center;
  margin-top: 0.2rem;
}
.navber-content .container .navber-brand img {
  width: 36px;
  height: 36px;
  margin-bottom: 0.5rem;
}
.navber-content .container .navber-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1px;
  margin-bottom: 1rem;
}
.navber-content .container .navber-nav #closes-navber i {
  display: none;
  position: absolute;
  top: 2.5rem;
  right: 9rem;
  font-size: 30px;
  cursor: pointer;
  color: #181818;
}
.navber-content .container .navber-nav #closes-navber i:hover {
  transform: rotate(90deg);
}
.navber-content .container .navber-nav .navber-item {
  list-style: none;
  margin-top: 1.2rem;
}
.navber-content .container .navber-nav .navber-item .navber-link {
  text-transform: capitalize;
  color: #817382;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  margin-right: 2rem;
  margin-top: 2rem;
  text-decoration: none;
}
.navber-content .container .navber-nav .navber-item .navber-link:hover {
  color: #f95c19;
}
.navber-content .container .navber-nav .navber-img {
  width: 49px;
  height: 49px;
  background: #ffedc9;
  text-align: center;
  margin-top: 0.8rem;
  padding-top: 0.7rem;
  border-radius: 8px;
  margin-right: 0.5rem;
  list-style: none;
}
.navber-content .container .navber-nav .btn {
  width: 142px;
  height: 49px;
  background-color: #ffe4d9;
  text-align: center;
  margin-top: 0.8rem;
  padding-top: 0.7rem;
  border-radius: 8px;
  color: #f95c19;
  font-family: Oxanium;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  overflow: hidden;
}
.navber-content .container .icons {
  width: 40px;
  height: auto;
  font-size: 25px;
  display: none;
}

.hero-header {
  background-color: #fff7e7;
  height: 110vh;
}
.hero-header .hero-container {
  height: 105vh;
}
.hero-header .hero-container .hero-area {
  padding-top: 0.5rem;
}
.hero-header .hero-container .hero-area .text-area {
  padding-right: 2rem;
  margin: auto;
}
.hero-header .hero-container .hero-area .text-area h2 {
  width: 335px;
}
.hero-header .hero-container .hero-area .text-area h2 .bolText {
  font-weight: bolder;
}
.hero-header .hero-container .hero-area .text-area p {
  width: 251px;
  margin-bottom: 1rem;
}
.hero-header .hero-container .hero-area .text-area .btn {
  background-color: #f95c19;
  color: #ffffff;
}
.hero-header .hero-container .hero-area .img-area {
  height: 517.516px;
  margin-top: 3rem;
  padding-top: 3rem;
}
.hero-header .hero-container .hero-area .img-area img {
  width: 90%;
  height: auto;
  object-fit: cover;
  margin-left: 5rem;
}

.footer {
  background-color: #222132;
  height: auto;
  color: #ffffff;
}
.footer .container .header-footer {
  height: 274px;
  display: flex;
}
.footer .container .header-footer .footer-text {
  width: 50%;
  margin: auto;
}
.footer .container .header-footer .footer-text p {
  color: #c5c5d2;
  padding-right: 8rem;
}
.footer .container .header-footer .footer-input {
  width: 50%;
  margin: auto;
}
.footer .container .header-footer .footer-input h6 {
  color: #f95c19;
  font-family: Oxanium;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 4rem;
}
.footer .container .header-footer .footer-input .input {
  height: 60px;
  margin-left: 4rem;
  display: flex;
}
.footer .container .header-footer .footer-input .input input {
  width: 70%;
  height: 49px;
  border-radius: 5px;
  border: 1px solid #c5c5d2;
  background: #222132;
  padding-left: 0.5rem;
}
.footer .container .header-footer .footer-input .input .btn {
  width: 130px;
  height: 48px;
  background-color: #f95c19;
  margin-left: 1rem;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
}

.footer-hero {
  height: 235px;
  background: #2f2e41;
  color: #ffffff;
}
.footer-hero .container .hero-container {
  width: 100%;
  display: flex;
}
.footer-hero .container .hero-container .icon-box .icon {
  color: #ffffff;
  font-family: Oxanium;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 4rem;
}
.footer-hero .container .hero-container .icon-box .icon img {
  width: 55px;
  height: 51px;
  flex-shrink: 0;
}
.footer-hero .container .hero-container .icon-box p {
  width: 40%;
  height: 44px;
  color: #9291a1;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  margin-top: 0.8rem;
}
.footer-hero .container .hero-container .footer-manu {
  display: flex;
  margin-top: 3rem;
}
.footer-hero .container .hero-container .footer-manu .row .box .card-text {
  width: 200px;
  margin-top: 1rem;
}
.footer-hero .container .hero-container .footer-manu .row .box .card-text h5 {
  color: #ffffff;
  font-family: Oxanium;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.footer-hero .container .hero-container .footer-manu .row .box .card-text ul {
  width: 100%;
  padding-left: 0;
}
.footer-hero .container .hero-container .footer-manu .row .box .card-text ul li {
  list-style: none;
  margin-left: 0;
}
.footer-hero .container .hero-container .footer-manu .row .box .card-text ul li .text {
  display: flex;
  color: #9291a1;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  text-decoration: none;
  margin-top: 0.5rem;
}
.footer-hero .container .hero-container .footer-manu .row .box .card-text ul li .text:hover {
  text-decoration: underline;
  font-weight: 700;
}

.footer-down {
  background-color: #222132;
}
.footer-down .container {
  display: flex;
  height: 76px;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5rem;
  flex-shrink: 0;
}
.footer-down .container p {
  color: #dbdbe9;
  font-family: Raleway;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 0.5rem;
}
.footer-down .container p .foot {
  font-size: 14px;
  font-weight: 800;
  color: #f95c19;
}

.service-area {
  height: auto;
  background-color: #fff7e7;
  padding-bottom: 6rem;
}
.service-area .container .first {
  color: #f95c19;
  font-family: Oxanium;
  font-size: 31.25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  padding-top: 2rem;
}
.service-area .container h2 {
  color: #181818;
  text-align: center;
  font-family: Raleway;
  font-size: 39.06px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.service-area .container .row {
  margin-right: 5px;
}
.service-area .container .row .card {
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 0px 20px 5px rgba(63, 61, 86, 0.05);
  margin-top: 2rem;
}
.service-area .container .row .card .icon-img {
  text-align: center;
}
.service-area .container .row .card .icon-img img {
  width: 70px;
  height: 86px;
  margin: 2rem;
}
.service-area .container .row .card .text h5 {
  color: #464558;
  text-align: center;
  font-family: Raleway;
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.service-area .container .row .card .text p {
  color: #7b7a8b;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 145%;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-right: 2rem;
}
.service-area .container .row .card .text ul {
  margin-left: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}
.service-area .container .row .card .text ul li {
  color: #7b7a8b;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  color: #f95c19;
  margin-top: 1rem;
}
.service-area .container .row .card .text ul li span {
  color: #7b7a8b;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.service-area .container .row .card .text .btn {
  width: 280px;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #f95c19;
  margin-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
  overflow: hidden;
}
.service-area .container .row .card .text .btn:hover {
  background-color: #f95c19;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
}

.counter-area {
  background-color: #fff7e7;
}
.counter-area .container .row {
  height: auto;
  gap: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 4rem;
}
.counter-area .container .row .card-count {
  background-color: #fff7e7;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: none;
}
.counter-area .container .row .card-count .img-1 {
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.counter-area .container .row .card-count .img-1 img {
  width: 67px;
  height: 67px;
}
.counter-area .container .row .card-count .img {
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.counter-area .container .row .card-count .img img {
  width: 55px;
  height: 55px;
}
.counter-area .container .row .card-count .text {
  text-align: center;
}
.counter-area .container .row .card-count .text h3 {
  color: #f95c19;
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Raleway;
  font-size: 39px;
  font-style: normal;
  font-weight: 800;
  line-height: 110%;
  padding-top: 0.5rem;
}
.counter-area .container .row .card-count .text .plus {
  padding-top: 1.5rem;
}
.counter-area .container .row .card-count .text p {
  color: #464558;
  text-align: center;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.video-area {
  height: 100vh;
  background-color: #fff7e7;
}
.video-area .container {
  padding-top: 2rem;
}
.video-area .container .video {
  width: 100%;
  height: 80vh;
  text-align: center;
  border-radius: 10px;
}
.video-area .container .video img {
  width: 100px;
  height: 100px;
  margin-top: 5rem;
  margin-right: 2rem;
}
.video-area .container .video h3 {
  color: #f95c19;
  text-align: center;
  font-family: Oxanium;
  font-size: 31.25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 1.5rem;
}
.video-area .container .video p {
  width: 473px;
  height: 98px;
  color: #fff;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  text-align: center;
}

.testimonial-area {
  background-color: #fff7e7;
}
.testimonial-area .container .row {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.testimonial-area .container .row .card {
  background-color: #fff7e7;
  border: none;
  margin-bottom: 3rem;
}
.testimonial-area .container .row .card .header {
  display: flex;
  background-color: #fff7e7;
}
.testimonial-area .container .row .card .header .img {
  text-align: end;
  padding-top: 2rem;
  padding-bottom: 1rem;
  padding-right: 2rem;
}
.testimonial-area .container .row .card .header .img img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.testimonial-area .container .row .card .header .text {
  color: #f95c19;
  font-family: Oxanium;
  font-size: 31.25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.testimonial-area .container .row .card .header .text .first {
  margin-left: 4rem;
  color: #f95c19;
  font-family: Oxanium;
  font-size: 31.25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.testimonial-area .container .row .card .header .text h3 {
  margin-top: 0.6rem;
  color: #181818;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Raleway;
  font-size: 39px;
  font-style: normal;
  font-weight: 800;
  line-height: 110%;
}
.testimonial-area .container .row .card .card-area {
  border-radius: 16px;
  background: #ffffff;
  box-shadow: 0px 0px 20px 5px rgba(0, 19, 119, 0.05);
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  overflow: hidden;
}
.testimonial-area .container .row .card .card-area .text h4 {
  color: #f95c19;
  font-family: Raleway;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 70%;
}
.testimonial-area .container .row .card .card-area .text p {
  color: #464558;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 145%;
}
.testimonial-area .container .row .card .card-area .img-area .star {
  margin-top: 0.5rem;
}
.testimonial-area .container .row .card .card-area .img-area .imgs {
  display: flex;
  justify-content: end;
  align-items: center;
}
.testimonial-area .container .row .card .card-area .img-area .imgs .text h6 {
  color: #222132;
  text-align: right;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.testimonial-area .container .row .card .card-area .img-area .imgs .img {
  margin-left: 1rem;
  padding-bottom: 1rem;
}
.testimonial-area .container .row .card .card-area .img-area .imgs .img img {
  width: 61px;
  height: 61px;
  object-fit: cover;
  border-radius: 30px;
}

.request-area {
  background-color: #fff7e7;
}
.request-area .container .row .request .row .text-area {
  padding-top: 4rem;
  padding-bottom: 2rem;
}
.request-area .container .row .request .row .text-area .img img {
  width: 250px;
  height: 240px;
  margin-left: 3rem;
  object-fit: cover;
}
.request-area .container .row .request .row .text-area .text h6 {
  color: #f95c19;
  font-family: Oxanium;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 1rem;
}
.request-area .container .row .request .row .text-area .text h4 {
  color: #222132;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Raleway;
  font-size: 35px;
  font-style: normal;
  font-weight: 800;
  line-height: 110%;
  margin-top: 1rem;
}
.request-area .container .row .request .row .text-area .text p {
  color: var(--Gray-500, #9291a1);
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}
.request-area .container .row .request .row .input-area {
  padding-top: 4rem;
  padding-bottom: 2rem;
}
.request-area .container .row .request .row .input-area .input {
  margin-top: 2rem;
}
.request-area .container .row .request .row .input-area .input input {
  width: 100%;
  height: 49px;
  border-radius: 8px;
  border: 2px solid #c5c5d2;
  background-color: #fff7e7;
  margin-bottom: 1rem;
  padding-top: 1px;
  padding-left: 0.5rem;
}
.request-area .container .row .request .row .input-area .input textarea {
  width: 100%;
  height: 154px;
  border-radius: 5px;
  border: 2px solid #c5c5d2;
  background: #fff7e7;
  resize: none;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
}
.request-area .container .row .request .row .input-area .input .btn {
  width: 100%;
  border-radius: 5px;
  background: var(--Theme-Colors-Danger, #f95c19);
  margin-top: 3rem;
  padding: 12px 20px;
  color: #fff;
  font-family: Raleway;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.request-area .container .row .request .row .input-area .input .btn i {
  font-size: 14px;
}

.find-area {
  background-color: #fff7e7;
}
.find-area .container h5 {
  color: #f95c19;
  text-align: center;
  font-family: Oxanium;
  font-size: 31.25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 4rem;
}
.find-area .container h3 {
  color: var(--Gray-1000, #222132);
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Raleway;
  font-size: 39px;
  font-style: normal;
  font-weight: 800;
  line-height: 110%;
  padding-bottom: 3rem;
}
.find-area .container .row .img-area {
  width: 100%;
  height: auto;
  gap: 1rem;
}
.find-area .container .row .img-area .img img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.find-area .container .row .text-next {
  height: auto;
  background-color: #ffffff;
  backdrop-filter: blur(4px);
  margin-left: 1rem;
  padding: 3rem;
}
.find-area .container .row .text-next h4 {
  color: var(--Gray-800, #464558);
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 2rem;
  padding-left: 0.5rem;
}
.find-area .container .row .text-next p {
  color: var(--Gray-700, #5c5b6c);
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  padding-left: 0.5rem;
  display: flex;
}
.find-area .container .row .text-next p span {
  width: 350px;
  padding-left: 1rem;
}
.find-area .container .row .text-next .icon {
  margin-top: 3rem;
  margin-left: 1rem;
}
.find-area .container .row .text-next .icon i {
  color: var(--Gray-700, #e9e9f8);
  font-size: 30px;
  margin-right: 1rem;
}
.find-area .container .row .text-next .icon i:hover {
  color: #f95c19;
}
.find-area .container .row .btn {
  width: 500px;
  height: 60px;
  background-color: #f95c19;
  color: var(--Theme-Colors-White, #fff);
  font-family: Oxanium;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 20rem;
  margin-top: 2rem;
  margin-bottom: 8rem;
}
.find-area .container .row .btn span {
  padding-left: 0.5rem;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
}

@media (max-width: 1640px) {
  .service-area .container .row .card .text .btn {
    margin-left: 4rem;
  }
  .video-area .container .video p {
    margin-left: 25rem;
  }
  .find-area .container .row .text-next {
    padding: 4rem;
  }
  .find-area .container .row .text-next .icon {
    margin-top: 5.5rem;
  }
  .find-area .container .row .btn {
    width: 550px;
    height: 65px;
  }
}
@media (max-width: 1399px) {
  .hero-header {
    height: 100vh;
  }
  .hero-header .hero-container {
    height: 100vh;
  }
  .service-area .container .row .card .text ul {
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .service-area .container .row .card .text ul li {
    margin-top: 1rem;
  }
  .service-area .container .row .card .text .btn {
    margin-left: 2.2rem;
  }
  .counter-area .container .row .card-count .text h3 {
    font-size: 34px;
  }
  .video-area .container .video p {
    margin-left: 19rem;
  }
  .find-area .container .row .text-next {
    padding: 3rem;
  }
  .find-area .container .row .text-next .icon {
    margin-top: 3rem;
  }
  .find-area .container .row .btn {
    width: 500px;
    height: 60px;
  }
}
@media (max-width: 1199px) {
  .hero-header {
    height: auto;
  }
  .service-area {
    height: 105vh;
  }
  .service-area .container .row .card .icon-img img {
    width: 58px;
    height: 70px;
    margin: 1rem;
  }
  .service-area .container .row .card .text h5 {
    font-size: 20px;
  }
  .service-area .container .row .card .text p {
    width: 84%;
    font-size: 12px;
    margin-left: 20px;
    padding-left: 10px;
    padding-right: 3px;
    padding-top: 0;
  }
  .service-area .container .row .card .text ul {
    padding-left: 2rem;
  }
  .service-area .container .row .card .text ul li {
    margin-top: 10px;
  }
  .service-area .container .row .card .text ul li span {
    font-size: 13px;
  }
  .service-area .container .row .card .text .btn {
    width: 210px;
    padding: 7px 20px;
    margin-left: 2.3rem;
    margin-bottom: 2rem;
  }
  .counter-area .container {
    padding-top: 0.5rem;
  }
  .counter-area .container .row {
    padding-bottom: 3rem;
    gap: 1rem;
  }
  .counter-area .container .row .card-count {
    width: 179px;
    padding-top: 4px;
    padding-bottom: 0;
  }
  .counter-area .container .row .card-count .text h3 {
    font-size: 32px;
  }
  .counter-area .container .row .card-count .text p {
    font-size: 19px;
  }
  .video-area .container .video p {
    margin: auto;
  }
  .testimonial-area .container .row .card .header .img {
    width: 24%;
    padding-right: 1rem;
  }
  .testimonial-area .container .row .card .card-area .text h4 {
    font-size: 20px;
    padding-bottom: 4px;
  }
  .testimonial-area .container .row .card .card-area .text p {
    font-size: 14px;
    line-height: 140%;
  }
  .testimonial-area .container .row .card .card-area .img-area .star {
    margin-top: 0;
  }
  .request-area .container .row .request .row .text-area .text h6 {
    font-size: 20px;
  }
  .request-area .container .row .request .row .text-area .text h4 {
    font-size: 30px;
    margin-top: 0.5rem;
  }
  .request-area .container .row .request .row .text-area .text p {
    font-size: 20px;
  }
  .request-area .container .row .request .row .input-area .input .btn {
    margin-top: 1rem;
  }
  .find-area .container .row .text-next {
    height: auto;
    margin-left: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .find-area .container .row .text-next .text {
    margin-bottom: 10px;
    padding-top: 12px;
  }
  .find-area .container .row .text-next .text p {
    margin-bottom: 12px;
  }
  .find-area .container .row .btn {
    width: 450px;
    height: 58px;
    margin-left: 13rem;
  }
}
@media (max-width: 991px) {
  .navber-content .container .navber-brand {
    margin-top: 1.2rem;
    font-size: 25px;
  }
  .navber-content .container .navber-nav {
    position: fixed;
    top: 0;
    right: -105%;
    width: 20rem;
    background: #fff;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding-right: 2rem;
    z-index: 1200;
  }
  .navber-content .container .navber-nav #closes-navber i {
    display: block;
  }
  .navber-content .container .navber-nav.active {
    box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
    right: 0;
  }
  .navber-content .container .navber-nav .navber-item {
    width: 100%;
    height: 40px;
    text-align: center;
    background: #ffe4d9;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    border-radius: 10px;
  }
  .navber-content .container .navber-nav .navber-item .navber-link {
    text-align: center;
    font-size: 18px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }
  .navber-content .container .navber-nav .navber-item .navber-link:hover {
    color: #f95c19;
  }
  .navber-content .container .navber-nav .navber-img {
    width: 100%;
    height: 40px;
    padding-top: 0.5rem;
  }
  .navber-content .container .navber-nav .btn {
    width: 100%;
    height: 40px;
    padding-bottom: 2rem;
  }
  .navber-content .container .icons {
    display: block;
  }
  .navber-content .container .icons {
    margin-top: 0.6rem;
    font-size: 30px;
  }
  .hero-header {
    height: 75vh;
  }
  .hero-header .hero-container .hero-area {
    height: 440px;
    padding-top: 0;
  }
  .hero-header .hero-container .hero-area .text-area {
    height: 250px;
    padding-top: 4rem;
    margin-top: 4rem;
  }
  .hero-header .hero-container .hero-area .text-area .text h2 {
    font-size: 20px;
  }
  .hero-header .hero-container .hero-area .text-area .text p {
    font-size: 14px;
  }
  .hero-header .hero-container .hero-area .text-area .text .btn {
    width: 110px;
    height: 35px;
    font-size: 12px;
  }
  .hero-header .hero-container .hero-area .img-area {
    height: 300px;
  }
  .hero-header .hero-container .hero-area .img-area img {
    width: 100%;
    margin-left: 0;
  }
  .service-area {
    height: 320vh;
  }
  .service-area .container .first {
    font-size: 25px;
  }
  .service-area .container h2 {
    font-size: 30px;
    margin-bottom: 0;
  }
  .service-area .container .row {
    width: 85%;
    margin-left: 5rem;
  }
  .service-area .container .row .card {
    width: 90%;
    padding: 2rem;
  }
  .service-area .container .row .card .icon-img {
    text-align: center;
  }
  .service-area .container .row .card .icon-img img {
    width: 70px;
    height: 86px;
    margin: 1rem;
    object-fit: cover;
  }
  .service-area .container .row .card .text h5 {
    font-size: 30px;
  }
  .service-area .container .row .card .text p {
    width: 418px;
    font-size: 16px;
    padding-left: 2rem;
  }
  .service-area .container .row .card .text ul {
    font-size: 16px;
    margin-left: 2.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }
  .service-area .container .row .card .text ul li {
    margin-top: 1rem;
  }
  .service-area .container .row .card .text ul li span {
    font-size: 16px;
  }
  .service-area .container .row .card .text .btn {
    width: 80%;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #f95c19;
    margin-left: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    overflow: hidden;
  }
  .service-area .container .row .card .text .btn:hover {
    background-color: #f95c19;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
  }
  .counter-area {
    height: 40vh;
  }
  .counter-area .container .row {
    padding-bottom: 1rem;
    padding-left: 2rem;
    gap: 0;
  }
  .counter-area .container .row .count-area {
    width: 18%;
  }
  .counter-area .container .row .count-area .card-count {
    width: 120px;
    padding-top: 4px;
  }
  .counter-area .container .row .count-area .card-count .img-1 {
    padding-top: 6px;
  }
  .counter-area .container .row .count-area .card-count .img-1 img {
    width: 50px;
    height: 50px;
  }
  .counter-area .container .row .count-area .card-count .img img {
    width: 40px;
    height: 40px;
  }
  .counter-area .container .row .count-area .card-count .text .ups {
    font-size: 26px;
    padding-top: 0;
  }
  .counter-area .container .row .count-area .card-count .text .plus {
    font-size: 26px;
    padding-top: 8px;
  }
  .counter-area .container .row .count-area .card-count .text p {
    font-size: 10px;
  }
  .video-area {
    height: 75vh;
  }
  .video-area .container .video {
    width: 100%;
    height: auto;
  }
  .video-area .container .video img {
    margin-top: 3rem;
    margin-right: 1rem;
  }
  .video-area .container .video h3 {
    font-size: 30px;
  }
  .video-area .container .video p {
    margin: auto;
    padding-bottom: 8rem;
  }
  .request-area .container .row .request .row .text-area {
    padding-top: 1rem;
  }
  .request-area .container .row .request .row .text-area .img {
    margin-top: 0;
    padding-top: 0;
    text-align: center;
  }
  .request-area .container .row .request .row .text-area .img img {
    width: 58%;
    height: 300px;
  }
  .request-area .container .row .request .row .text-area .text h6 {
    font-size: 24px;
    margin-left: 10rem;
  }
  .request-area .container .row .request .row .text-area .text h4 {
    width: 400px;
    font-size: 38px;
    margin-left: 10rem;
  }
  .request-area .container .row .request .row .text-area .text p {
    margin-left: 10rem;
    margin-bottom: 0px;
  }
  .request-area .container .row .request .row .input-area {
    padding-top: 0;
  }
  .request-area .container .row .request .row .input-area .input .btn {
    margin-top: 1rem;
    font-size: 18px;
  }
  .find-area {
    height: auto;
  }
  .find-area .container .row .img-area .img img {
    margin-bottom: 2rem;
    border-radius: 15px;
  }
  .find-area .container .row .text-next {
    height: auto;
    border-radius: 15px;
  }
  .find-area .container .row .text-next .fuText {
    padding-top: 3rem;
    padding-left: 3rem;
  }
  .find-area .container .row .text-next .fuText h4 {
    font-size: 30px;
  }
  .find-area .container .row .text-next .fuText p {
    font-size: 18px;
  }
  .find-area .container .row .text-next .icon {
    margin-left: 3rem;
    margin-bottom: 1rem;
  }
  .find-area .container .row .btn {
    width: 90%;
    height: 58px;
    margin-left: 2.2rem;
  }
  .footer .container .header-footer .footer-text h3 {
    font-size: 24px;
  }
  .footer .container .header-footer .footer-text p {
    padding-right: 1.1rem;
  }
  .footer .container .header-footer .footer-input h6 {
    margin-left: 0;
    margin-bottom: 2rem;
  }
  .footer .container .header-footer .footer-input .input {
    margin-left: 0;
  }
  .footer-hero .container .hero-container .icon-box {
    height: 60px;
    font-size: 15px;
  }
  .footer-hero .container .hero-container .icon-box .icon {
    width: 90%;
    margin-top: 3rem;
  }
  .footer-hero .container .hero-container .icon-box p {
    width: 95%;
  }
  .footer-hero .container .hero-container .footer-manu .row .box .card-text h5 {
    font-size: 16px;
  }
  .footer-hero .container .hero-container .footer-manu .row .box .card-text ul li a {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .hero-header {
    height: 55vh;
  }
  .hero-header .hero-container .hero-area .text-area {
    padding-top: 3rem;
    margin-top: 0;
  }
  .hero-header .hero-container .hero-area .text-area .text {
    width: 210px;
  }
  .hero-header .hero-container .hero-area .text-area .text h2 {
    font-size: 18px;
  }
  .hero-header .hero-container .hero-area .text-area .text h2 .bolText {
    font-size: 18px;
  }
  .hero-header .hero-container .hero-area .text-area .text p {
    width: 200px;
    font-size: 12px;
  }
  .hero-header .hero-container .hero-area .text-area .text .btn {
    font-size: 12px;
  }
  .hero-header .hero-container .hero-area .img-area {
    height: 250px;
    margin-top: 2rem;
    padding-top: 2rem;
  }
  .hero-header .hero-container .hero-area .img-area img {
    width: 100%;
    margin-left: 0;
  }
  .service-area {
    height: 300vh;
  }
  .service-area .container .first {
    font-size: 25px;
  }
  .service-area .container h2 {
    font-size: 25px;
  }
  .service-area .container .row {
    margin-left: 4rem;
  }
  .service-area .container .row .card {
    padding: 1rem;
  }
  .service-area .container .row .card .text h5 {
    font-size: 25px;
  }
  .service-area .container .row .card .text p {
    width: 311px;
    font-size: 14px;
    padding-left: 0;
    margin-left: 1rem;
  }
  .service-area .container .row .card .text ul {
    margin-left: 20px;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
  .service-area .container .row .card .text ul li {
    font-size: 22px;
    margin-top: 0.5rem;
  }
  .service-area .container .row .card .text ul li span {
    font-size: 14px;
  }
  .service-area .container .row .card .text .btn {
    width: 80%;
    margin-left: 2rem;
  }
  .counter-area {
    height: auto;
  }
  .counter-area .container .row {
    padding-left: 1rem;
    padding-bottom: 1rem;
    gap: 0;
  }
  .counter-area .container .row .count-area {
    width: 100%;
  }
  .counter-area .container .row .count-area .card-count {
    width: 200px;
    height: auto;
    margin: auto;
  }
  .counter-area .container .row .count-area .card-count .img-1 {
    padding-top: 6px;
  }
  .counter-area .container .row .count-area .card-count .img-1 img {
    width: 70px;
    height: 70px;
  }
  .counter-area .container .row .count-area .card-count .img img {
    width: 55px;
    height: 55px;
  }
  .counter-area .container .row .count-area .card-count .text .ups {
    font-size: 32px;
    padding-top: 0;
  }
  .counter-area .container .row .count-area .card-count .text .plus {
    font-size: 32px;
    padding-top: 8px;
  }
  .counter-area .container .row .count-area .card-count .text p {
    font-size: 20px;
  }
  .video-area .container .video {
    height: 315px;
  }
  .video-area .container .video img {
    width: 65px;
    height: 65px;
    margin-top: 3.5rem;
    object-fit: cover;
  }
  .video-area .container .video h3 {
    font-size: 22px;
    margin-top: 12px;
  }
  .video-area .container .video p {
    width: 354px;
    max-width: 90%;
    font-size: 15px;
    margin: auto;
    margin-top: 1rem;
  }
  .testimonial-area .container .row .card .header .img {
    padding-right: 0;
  }
  .testimonial-area .container .row .card .header .img img {
    width: 80px;
    height: 80px;
  }
  .testimonial-area .container .row .card .header .text .first {
    font-size: 24px;
  }
  .testimonial-area .container .row .card .header .text h3 {
    font-size: 32px;
  }
  .request-area .container .row .request .row .text-area .img img {
    width: 50%;
    height: auto;
    object-fit: cover;
    margin-left: 0;
  }
  .request-area .container .row .request .row .text-area .text {
    margin-left: 0;
  }
  .request-area .container .row .request .row .text-area .text h6 {
    font-size: 20px;
    margin-left: 5rem;
  }
  .request-area .container .row .request .row .text-area .text h4 {
    font-size: 30px;
    margin-left: 5rem;
  }
  .request-area .container .row .request .row .text-area .text p {
    margin-left: 5rem;
  }
  .find-area .container h5 {
    font-size: 28px;
    padding-top: 3rem;
  }
  .find-area .container h3 {
    font-size: 34px;
    padding-bottom: 2rem;
  }
  .find-area .container .row .text-next {
    padding-left: 1rem;
  }
  .find-area .container .row .text-next .fuText {
    padding-top: 2rem;
    padding-left: 2rem;
  }
  .find-area .container .row .text-next .fuText h4 {
    font-size: 24px;
    margin-bottom: 1.5rem;
  }
  .find-area .container .row .btn {
    margin-left: 1.5rem;
  }
  .footer .container .header-footer .footer-text h3 {
    font-size: 18px;
  }
  .footer .container .header-footer .footer-text p {
    font-size: 11px;
  }
  .footer .container .header-footer .footer-input h6 {
    font-size: 16px;
    margin-bottom: 1rem;
  }
  .footer .container .header-footer .footer-input .input input {
    height: 45px;
    font-size: 15px;
  }
  .footer .container .header-footer .footer-input .input .btn {
    width: 100px;
    height: 45px;
    font-size: 13px;
    font-weight: 500;
  }
  .footer-hero .container .hero-container .icon-box .icon {
    display: flex;
    font-size: 20px;
    margin-top: 3rem;
  }
  .footer-hero .container .hero-container .icon-box .icon span {
    margin-top: 0.5rem;
  }
  .footer-hero .container .hero-container .icon-box .icon img {
    width: 40px;
    height: 40px;
  }
  .footer-hero .container .hero-container .icon-box p {
    width: 80%;
    font-size: 13px;
  }
  .footer-hero .container .hero-container .footer-manu .row .box .card-text ul li .text {
    font-size: 12px;
  }
}
@media (max-width: 575px) {
  .hero-header .hero-container .hero-area {
    display: flex;
  }
  .hero-header .hero-container .hero-area .text-area {
    width: 40%;
    height: 200px;
    margin-top: 2rem;
  }
  .hero-header .hero-container .hero-area .text-area .text h2 {
    font-size: 16px;
    margin-bottom: 3px;
  }
  .hero-header .hero-container .hero-area .text-area .text h2 .bolText {
    font-size: 17px;
  }
  .hero-header .hero-container .hero-area .text-area .text .btn {
    width: 95px;
    font-size: 10px;
  }
  .hero-header .hero-container .hero-area .img-area {
    width: 60%;
  }
  .service-area {
    height: 290vh;
  }
  .service-area .container .first {
    font-size: 20px;
  }
  .service-area .container h2 {
    font-size: 22px;
    margin-bottom: 3px;
  }
  .service-area .container .row .card {
    width: 90%;
  }
  .service-area .container .row .card .icon-img img {
    width: 60px;
    height: 74px;
  }
  .service-area .container .row .card .text h5 {
    font-size: 22px;
  }
  .service-area .container .row .card .text p {
    width: 270px;
    font-size: 14px;
  }
  .service-area .container .row .card .text ul {
    margin-left: 5px;
    margin-top: 2px;
  }
  .service-area .container .row .card .text ul li {
    font-size: 20px;
  }
  .service-area .container .row .card .text ul li span {
    font-size: 14px;
  }
  .service-area .container .row .card .text .btn {
    width: 250px;
    margin-left: 1.5rem;
    font-size: 14px;
  }
  .service-area .container .row .card .text .btn:hover {
    font-size: 14px;
    background-color: #f95c19;
    color: #ffffff;
  }
  .counter-area .container .row .card-count .img-1 img {
    width: 65px;
    height: 66px;
  }
  .counter-area .container .row .card-count .img img {
    width: 45px;
    height: 45px;
  }
  .counter-area .container .row .card-count .text .ups {
    font-size: 40px;
  }
  .counter-area .container .row .card-count .text .plus {
    font-size: 40px;
    padding-top: 1rem;
  }
  .counter-area .container .row .card-count .text p {
    font-size: 20px;
  }
  .testimonial-area .container .row {
    padding-top: 0;
    padding-bottom: 0;
  }
  .testimonial-area .container .row .card .header .img {
    width: 20%;
  }
  .testimonial-area .container .row .card .header .img img {
    width: 60px;
    height: 60px;
  }
  .testimonial-area .container .row .card .header .text {
    width: 80%;
  }
  .testimonial-area .container .row .card .header .text .first {
    font-size: 20px;
  }
  .testimonial-area .container .row .card .header .text h3 {
    font-size: 25px;
    margin-top: 8px;
  }
  .testimonial-area .container .row .card .card-area .text h4 {
    font-size: 17px;
  }
  .testimonial-area .container .row .card .card-area .text p {
    font-size: 12px;
  }
  .testimonial-area .container .row .card .card-area .img-area .tops {
    width: 50%;
  }
  .testimonial-area .container .row .card .card-area .img-area .tops .star {
    font-size: 10px;
    margin-top: 0.5rem;
  }
  .testimonial-area .container .row .card .card-area .img-area .tops .star svg {
    font-size: 10px;
  }
  .testimonial-area .container .row .card .card-area .img-area .down {
    width: 50%;
  }
  .testimonial-area .container .row .card .card-area .img-area .down .imgs .text h6 {
    font-size: 14px;
  }
  .testimonial-area .container .row .card .card-area .img-area .down .imgs .text p {
    font-size: 10px;
  }
  .testimonial-area .container .row .card .card-area .img-area .down .imgs .img img {
    width: 40px;
    height: 40px;
  }
  .request-area .container .row .request .row .text-area .text h6 {
    font-size: 18px;
  }
  .request-area .container .row .request .row .text-area .text h4 {
    width: 270px;
    font-size: 25px;
  }
  .request-area .container .row .request .row .text-area .text p {
    font-size: 16px;
  }
  .footer .container .header-footer .footer-text {
    width: 40%;
  }
  .footer .container .header-footer .footer-text h3 {
    font-size: 14px;
  }
  .footer .container .header-footer .footer-input {
    width: 60%;
  }
  .footer .container .header-footer .footer-input h6 {
    font-size: 14px;
    margin-bottom: 25px;
  }
  .footer-hero {
    height: auto;
  }
  .footer-hero .container .hero-container .icon-box {
    width: 30%;
    height: 100px;
    margin-top: 0;
    margin-bottom: 1rem;
  }
  .footer-hero .container .hero-container .icon-box .icon {
    margin-top: 1rem;
  }
  .footer-hero .container .hero-container .icon-box p {
    margin-left: 1.5rem;
  }
  .footer-hero .container .hero-container .footer-manu {
    width: 70%;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .footer-hero .container .hero-container .footer-manu .row .box {
    width: 20%;
    margin-left: 2rem;
  }
}/*# sourceMappingURL=style.css.map */